.careers {
  padding: 1em;
}
.careers__header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.careers__header h1 {
  font-size: 46px;
  margin: 0;
  padding-bottom: 0.3rem;
}
@media screen and (min-width: 768px) {
  .careers__header h1 {
    font-size: 68px;
    margin-top: 0.5em;
  }
}
h1 {
  font-size: 36px;
  line-height: 38px;
}

.careers__header h3 {
  font-size: 24px;
  line-height: 41px;
  padding: 2rem 0;
}
@media screen and (min-width: 768px) {
  .careers__header h3 {
    font-size: 36px;
  }
}
h3 {
  font-size: 20px;
  letter-spacing: 0.1px;
  line-height: 22px;
}

.careers__header-image {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20em;
  width: 100%;
}
@media screen and (min-width: 600px) {
  .careers__header-image {
    background-position: 50%;
  }
}
@media screen and (min-width: 900px) {
  .careers__header-image {
    height: 25em;
  }
}
@media screen and (min-width: 1024px) {
  .careers__header-image {
    height: 32em;
  }
}

.careers__header a.button {
  margin-bottom: 1em;
  margin-top: 0.5em;
}
.button.main {
  background-color: #ff9100;
  border: none;
  color: #fff;
}

.template-image-copy.full-half {
  padding: 0.5em;
}
@media screen and (min-width: 1024px) {
  .template-image-copy.full-half {
    padding: 0;
  }
}

.template-image-copy {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .template-image-copy.image-right .template-image-copy__content {
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 900px) {
  .template-image-copy.full-half .template-image-copy__content {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
}
.template-image-copy__content {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .template-image-copy__content {
    align-items: center;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .careers__about-image {
    width: auto !important;
  }
}
.careers__about-image {
  background-position: 50%;
  background-size: cover;
  height: 23em;
}
@media screen and (min-width: 600px) {
  .careers__about-image {
    background-position: bottom;
    height: 27em;
  }
}


.careers__about-copy,
.careers__benefits {
  background-color: #f5ffef;
}
@media screen and (min-width: 1024px) {
  .template-image-copy.image-right .template-image-copy__copy {
    margin-left: auto;
    margin-right: -3em;
  }
}
@media screen and (min-width: 1024px) {
  .careers__about-copy {
    margin: 0 !important;
  }
}
@media screen and (min-width: 900px) {
  .careers__about-copy {
    align-self: center;
    height: -moz-max-content;
    height: max-content;
  }
}
.template-image-copy__copy {
  background-color: #f7f7f7;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  padding: 1.5em;
}
@media screen and (min-width: 600px) {
  .careers__about-copy {
    padding: 2em;
  }
}

.template-element-title {
  font-size: 24px;
  line-height: 35px;
  margin: 0 0 0.5em;
  margin-bottom: 0.5em;
}
@media screen and (min-width: 1024px) {
  .template-element-title {
    font-size: 36px !important;
    margin-bottom: 1em;
  }
}
@media screen and (min-width: 768px) {
  .template-element-title {
    font-size: 32px;
  }
}
@media screen and (min-width: 600px) {
  .template-element-title {
    font-size: 26px;
  }
}

.template-copy {
  font-size: 18px;
  margin: 0;
}
.careers__culture-copy,
.careers__extra-mile {
  background-color: #eaf9ff;
}
.template-bullet-list {
  font-size: 18px;
  padding: 1.5em;
}
@media screen and (min-width: 1024px) {
  .template-bullet-list {
    font-size: 24px;
  }
}
@media screen and (min-width: 768px) {
  .template-bullet-list {
    font-size: 22px;
    padding-top: 2em;
  }
}
.template-element-title.icon {
  align-items: center;
  display: flex;
  justify-content: center;
}

.careers__culture-image {
  background-position: 50% !important;
  background-size: cover;
  height: 17em;
}
@media screen and (min-width: 1024px) {
  .careers__culture-image {
    background-position: 50% !important;
  }
}
@media screen and (min-width: 900px) {
  .careers__culture-image {
    background-position: -23em;
    margin: auto 0;
  }
}

@media screen and (min-width: 1024px) {
  .careers__culture-image {
    height: -15em;
  }
}
@media screen and (min-width: 768px) {
  .careers__culture-image {
    height: 33em;
  }
}
@media screen and (min-width: 600px) {
  .careers__culture-image {
    height: 29em;
  }
}
@media screen and (min-width: 480px) {
  .careers__culture-image {
    height: 23em;
  }
}


/* New section */
.careers__values-title {
  font-size: 46px;
  text-align: center;
}
article.template-icon-grid {
    max-width: 70rem;
  }
@media screen and (min-width: 71rem) {
  article.template-icon-grid {
    margin: 2rem auto !important;
  }
}
.template-icon-grid {
    background-color: #fff;
    border: 2px solid #66af37;
    border-radius: 0.625em;
    display: grid;
    gap: 2rem;
    grid-auto-rows: auto;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin: 2rem 0.5rem !important;
    padding: 2rem;
    position: relative;
  }
@media screen and (min-width: 768px) {
  .template-icon-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin: 8rem 1rem 10rem;
  }
}

.template-icon-grid__card {
    align-items: center;
    border: 1px solid #d8d8d8;
    border-radius: .5rem;
    box-shadow: 4px 4px 4px rgba(0,0,0,.05);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
  }
  .template-icon-grid__card img {
    max-height: 76px;
    max-width: 131px;
    min-height: 67px;
  }
  .template-icon-grid__card div {
    line-height: 1.6em;
    margin: 0;
  }

  .template-icon-grid__card h3 {
    color: #ff9100;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.6em;
    margin: 1rem;
  }
  .careers__values .template-icon-grid__card h3 {
    color: #000;
  }
  .template-icon-grid__card div {
    line-height: 1.6em;
    margin: 0;
  }
  @media screen and (min-width: 768px) {
    .careers__values .template-icon-grid__card:nth-child(5) {
      grid-column: 1/span 2;
    }
  }
