.paypal-button {
    display: inline-flex;
    align-items: center;
    background-color: #0070ba;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}
.paypal-button:hover {
    background-color: #005c99;
}
.paypal-logo {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.crypto-button {
    display: inline-flex;
    align-items: center;
    background-color: #f7931a; /* Bitcoin orange color */
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}
.crypto-button:hover {
    background-color: #d67b15;
}
.crypto-logo {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.boa-button {
    display: inline-flex;
    align-items: center;
    background-color: #002d72; /* Bank of America's blue color */
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}
.boa-button:hover {
    background-color: #001f4b;
}
.boa-logo {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}



.bank-transfer-button {
    display: inline-flex;
    align-items: center;
    background-color: #000; /* Dark blue for a professional look */
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}
.bank-transfer-button:hover {
    background-color: #000000e7;
}
.bank-logo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


.payment-info-section {
    background-color: #f0f0f0; /* Light gray */
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 20px auto;
    font-family:inherit;
}

.payment-info-section h2 {
    text-align: center;
    color: #333;
    font-size: 1.2rem;
}

.payment-info-section ol {
    padding-left: 20px;
    line-height: 1.6;
    list-style-type: decimal; 
}

.payment-info-section li {
    /* margin-bottom: 10px; */
    list-style-type: decimal;
    font-size: 0.9rem;
}



@media screen and (max-width: 646px){
    .responsive-button-text-span{
        display: none;
    }
}