.template article {
  margin:0 auto .5em;
  max-width:1360px
}
@media screen and (min-width:1024px) {
  .template article {
    margin-bottom:1em
  }
}
.template-list li {
  display:flex;
  padding-bottom:1.5em
}
.template-list li.green-check:before {
  content:url(/public/img/shared/icons/green-check.svg);
  display:block;
  margin-right:.5em;
  margin-top:.25em
}
.template-list li.green-check.regularLink>a {
  font-weight:400;
  text-decoration-line:underline
}
.template-list li.bullets {
  list-style-type:disc
}
.template-element-title {
  font-size:24px;
  line-height:35px;
  margin:0 0 .5em
}
@media screen and (min-width:600px) {
  .template-element-title {
    font-size:26px
  }
}
@media screen and (min-width:768px) {
  .template-element-title {
    font-size:32px
  }
}
@media screen and (min-width:1024px) {
  .template-element-title {
    font-size:36px;
    margin-bottom:1em
  }
}
.template-element-title img {
  height:2.5em;
  margin-right:.25em
}
@media screen and (max-width:767px) {
  .template-element-title img {
    display:none
  }
}
.template-element-title.icon {
  align-items:center;
  display:flex;
  justify-content:center
}
.template-element-title--header {
  align-items:baseline;
  font-size:46px;
  line-height:62px;
  text-align:left
}
.template-element-title--header.promise {
  flex-direction:column
}
.template-element-title--header img {
  display:block;
  max-width:105px
}
@media screen and (max-width:767px) {
  .template-element-title--header img {
    display:block
  }
}
@media screen and (min-width:1024px) {
  .template-element-title--header img {
    height:1.5em
  }
}
@media screen and (min-width:600px) {
  .template-element-title--header {
    font-size:68px;
    line-height:77px;
    text-align:center
  }
}
@media screen and (min-width:1024px) {
  .template-element-title--header {
    margin-bottom:0;
    text-align:left
  }
}
.template-copy {
  font-size:18px;
  margin:0
}
.template .success-message {
  align-items:center;
  background:#fff;
  border-radius:1rem;
  display:flex;
  flex-direction:column;
  padding:2rem
}
.template .success-message .success-message__title {
  font-size:1.5rem;
  margin-bottom:.5rem
}
.template .success-message .success-message__symbol {
  background-size:45%;
  height:5rem;
  width:5rem
}
.template-circle-header {
  background:linear-gradient(194.01deg,#d9e8ef 9.6%,#eaf2f5 89.64%);
  width:100%
}
.template-circle-header__content {
  background-image:url(/public/img/templates/promise/circle-bg.svg);
  background-position-x:-29rem;
  background-position-y:-15rem;
  background-repeat:no-repeat;
  display:flex;
  flex-direction:column;
  height:100%;
  justify-content:space-between
}
.template-circle-header__content-copy {
  padding:1em
}
.template-circle-header__content-copy p {
  font-family:Inter,sans-serif;
  font-size:24px;
  font-weight:400;
  line-height:33px
}
@media screen and (min-width:600px) {
  .template-circle-header__content {
    text-align:center
  }
}
@media screen and (min-width:1024px) {
  .template-circle-header__content {
    align-items:center;
    background-position-x:-10rem;
    flex-direction:row-reverse;
    text-align:left
  }
}
.template-circle-header--secondary {
  background:#f5ffef
}
@media screen and (min-width:768px) {
  .template-circle-header--secondary__content {
    align-items:center;
    flex-direction:row-reverse
  }
}
@media screen and (min-width:1024px) {
  .template-circle-header--secondary__content {
    background-position-x:5rem;
    background-position-y:0;
    background-size:contain
  }
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .template-circle-header--secondary__content>img {
    align-self:stretch;
    -o-object-fit:cover;
    object-fit:cover;
    width:50%
  }
}
@media screen and (min-width:1024px) {
  .template-circle-header--secondary__content-copy {
    padding-left:3rem;
    padding-right:3rem
  }
}
@media screen and (min-width:1440px) {
  .template-circle-header--secondary__content-copy {
    padding-right:8rem
  }
}
.template-circle-header--secondary__content-copy img {
  height:auto
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .template-circle-header--secondary__content-copy img {
    align-self:flex-start
  }
}
.template-circle-header--secondary__content-copy p {
  font-family:Inter,sans-serif;
  font-size:1.125rem;
  text-align:left
}
@media screen and (min-width:1024px) {
  .template-circle-header--secondary__content-copy>p {
    margin-top:0
  }
}
.template-circle-header--secondary .template-element-header {
  margin-bottom:1rem;
  text-align:left
}
@media screen and (min-width:1024px) {
  .template-circle-header--secondary .template-element-header {
    font-size:4.25rem;
    margin-bottom:0
  }
}
.template-circle-header--secondary__action {
  text-align:center
}
@media screen and (min-width:768px) {
  .template-circle-header--secondary__action {
    text-align:left
  }
}
.template-gallery {
  grid-gap:.5em;
  display:grid;
  grid-template-columns:repeat(2,1fr);
  grid-template-rows:repeat(5,1fr);
  height:40em;
  padding:.5em;
  width:100%
}
.template-gallery__image {
  background-repeat:no-repeat
}
.template-gallery .large-image {
  background-position:0 -5em;
  background-size:cover;
  grid-column:1/span 2;
  grid-row:1/span 3
}
.template-gallery .image-top {
  grid-column:1
}
.template-gallery .image-bottom,
.template-gallery .image-top {
  background-position:50%;
  background-size:cover;
  grid-row:4/span 2
}
.template-gallery .image-bottom {
  grid-column:2
}
@media screen and (min-width:600px) {
  .template-gallery {
    grid-gap:1em;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:repeat(7,1fr);
    padding:1em 0
  }
  .template-gallery .large-image {
    background-position:50%;
    grid-column:2;
    grid-row:1/span 7
  }
  .template-gallery .image-top {
    background-position:center -1em;
    grid-column:1;
    grid-row:1/span 4
  }
  .template-gallery .image-bottom {
    grid-column:1;
    grid-row:5/span 3
  }
}
@media screen and (min-width:1024px) {
  .template-gallery {
    height:1016px
  }
}
.template-icon-grid {
  background-color:#fff;
  border:2px solid #66af37;
  border-radius:.625em;
  display:grid;
  gap:2rem;
  grid-auto-rows:auto;
  grid-template-columns:repeat(1,minmax(0,1fr));
  margin:2rem .5rem!important;
  padding:2rem;
  position:relative
}
@media screen and (min-width:768px) {
  .template-icon-grid {
    grid-template-columns:repeat(2,minmax(0,1fr));
    margin:8rem 1rem 10rem
  }
}
.template-icon-grid__card {
  align-items:center;
  border:1px solid #d8d8d8;
  border-radius:.5rem;
  box-shadow:4px 4px 4px rgba(0,0,0,.05);
  display:flex;
  flex-direction:column;
  padding:2rem;
  text-align:center
}
.template-icon-grid__card img {
  max-height:76px;
  max-width:131px;
  min-height:67px
}
.template-icon-grid__card h3 {
  color:#ff9100;
  font-size:1.5rem;
  font-weight:700;
  line-height:1.6em;
  margin:1rem
}
.template-icon-grid__card div {
  line-height:1.6em;
  margin:0
}
.template-icon-grid__card p {
  text-align:left
}
.template-icon-grid__card ul {
  list-style:disc;
  padding-left:1.5rem;
  text-align:left
}
.template-icon-grid__blurb {
  font-weight:700
}
@media screen and (min-width:768px) {
  .template-icon-grid__blurb {
    grid-column-end:3;
    grid-column-start:1
  }
}
article.template-icon-grid {
  max-width:70rem
}
@media screen and (min-width:71rem) {
  article.template-icon-grid {
    margin:2rem auto!important
  }
}
.about-navigation {
  align-items:center;
  display:flex;
  height:5em;
  overflow:auto;
  white-space:nowrap
}
@media screen and (min-width:850px) {
  .about-navigation {
    justify-content:center
  }
}
.about-navigation a {
  display:inline-block;
  font-weight:400;
  padding:0 .5em
}
.about-navigation a.active,
.about-navigation a:hover {
  color:#ff9100;
  font-weight:700
}
.dog-travel h2 {
  font-family:Nunito,sans-serif;
  font-size:1.5rem;
  line-height:1.4em
}
@media screen and (min-width:768px) {
  .dog-travel h2 {
    font-size:2.25rem
  }
}
.dog-travel hgroup {
  margin:0 .5rem 2.5rem;
  max-width:54rem;
  text-align:left
}
@media screen and (min-width:1024px) {
  .dog-travel hgroup {
    margin:0 auto 2.5rem
  }
}
.dog-travel hgroup h2 {
  margin:3rem 0 1.5rem
}
.dog-travel hgroup h3 {
  font-family:Inter,sans-serif;
  font-size:1.125rem;
  font-weight:400;
  line-height:1.4em;
  margin:0
}
.dog-travel__transportation-network {
  background-color:#f5ffef;
  margin:1rem 0
}
.dog-travel__transportation-network article {
  display:flex;
  flex-direction:column;
  padding:.5rem
}
@media screen and (min-width:768px) {
  .dog-travel__transportation-network article {
    padding:1rem
  }
}
@media screen and (min-width:1024px) {
  .dog-travel__transportation-network article {
    flex-direction:row
  }
}
.dog-travel__transportation-network article h2 {
  text-align:center
}
@media screen and (min-width:1024px) {
  .dog-travel__transportation-network article h2 {
    margin-right:2.25rem;
    text-align:left;
    width:50%
  }
}
.dog-travel__transportation-network-content {
  font-size:1.125rem;
  line-height:1.4em;
  padding:1rem 0;
  text-align:center
}
@media screen and (min-width:1024px) {
  .dog-travel__transportation-network-content {
    width:50%
  }
}
.dog-travel__transportation-network-content p {
  text-align:left
}
