.tippy-popper[data-html] {
  /* max-width: 96%; */
  /* max-width: calc(100% - 20px); */
}
.tippy-popper {
  max-width: 350px;
  -webkit-perspective: 700px;
  perspective: 700px;
  z-index: 9999;
  outline: 0;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  pointer-events: none;
  line-height: 1.4;
}

.tippy-popper[x-placement^="bottom"]
  [data-animation="fade"][data-state="visible"] {
  opacity: 1;
  /* -webkit-transform: translateY(10px); */
  /* transform: translateY(10px); */
}
.tippy-tooltip.light-theme {
  background-color: #fff;
  box-shadow: 0 0 20px 4px rgba(154, 161, 177, 0.15),
    0 4px 80px -8px rgba(36, 40, 47, 0.25),
    0 4px 4px -2px rgba(91, 94, 105, 0.15);
  color: #26323d;
}
.tippy-tooltip[data-interactive],
.tippy-tooltip[data-interactive] path {
  pointer-events: auto;
}
.tippy-tooltip {
  position: relative;
  color: #fff;
  border-radius: 4px;
  font-size: 0.9rem;
  padding: 0.3rem 0.6rem;
  text-align: center;
  will-change: transform;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333;
}
#sort-puppies {
  max-width: 149px;
  white-space: nowrap;
}
form {
  float: none;
  margin: 0 auto;
  max-width: 3000px;
}
input[type="radio"] {
  display: none;
}
[type="checkbox"],
[type="file"],
[type="radio"],
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em;
  position: absolute;
  visibility: hidden;
}

#sort-puppies input[type="checkbox"] + label::before,
#sort-puppies input[type="radio"] + label::before {
  border: 1px solid #27ae60;
}
input[type="radio"] + label::before {
  background-color: #fff;
  border: 1px solid #ff9100;
  border-radius: 20px;
  content: "";
  display: inline-block;
  height: 15px;
  margin-right: 10px;
  width: 15px;
}
#sort-puppies input[type="checkbox"] + label,
#sort-puppies input[type="radio"] + label {
  font-size: 14px;
}
input[type="radio"] + label {
  font-family: Inter, sans-serif;
  font-weight: 400;
}
#sort-puppies input[type="checkbox"] + label::before,
#sort-puppies input[type="radio"] + label::before {
  border: 1px solid #27ae60;
}
input[type="radio"] + label::before {
  background-color: #fff;
  border: 1px solid #ff9100;
  border-radius: 20px;
  content: "";
  display: inline-block;
  height: 15px;
  margin-right: 10px;
  width: 15px;
}

.opec_z_index_hidden {
  opacity: 0;
  display: none;
  z-index: -5;
}


#sort-puppies input[type="checkbox"]:checked + label::before, #sort-puppies input[type="radio"]:checked + label::before {
  border: 5px solid #219653;
}